<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Announces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf= "announces">
    <div class="order-items" *ngFor="let announce of announces">
      <ion-card mode="ios">
        <ion-card-content>
          <div class="item-img">
            <img [src]="announce.image" alt="Image"/>
          </div>
  
          <div class="item-info">
            <p>{{announce.first_name}}</p>
            <p>{{announce.last_name}}</p>
            <p>{{announce.contact_phone}}</p>
            <ion-button expand="block" (click)="displayDetail(announce.id)" class="main-button">Consult</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div
      class="full-width flex align-items-center justify-content-space-between ion-padding-horizontal"
    >
      <ion-button
        style="width: 120px"
        strong
        class="back-button"
        [routerLink]="['/home']"
      >
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
