<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-info" *ngIf="profile">
    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left "> User Name </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.userName}}</ion-col>
    </ion-item>

    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left "> email </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.email}}</ion-col>
    </ion-item>

    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left "> Address </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.address}}</ion-col>
    </ion-item>

    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left "> City </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.city}}</ion-col>
    </ion-item>

    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left "> Postal Code </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.postalCode}}</ion-col>
    </ion-item>

    <ion-item >
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left"> Cin </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-col class="text-center">{{profile.cin}}</ion-col>
    </ion-item>

  </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <div
        class="full-width flex align-items-center justify-content-space-between ion-padding-horizontal"
      >
        <ion-button
          style="width: 120px"
          strong
          class="back-button"
          [routerLink]="['/home']"
        >
          <span>Back</span>
          <ion-icon slot="start" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-button
          strong
          color="success"
          class="publish-button"
          expand="block"
          (click)="disconnect()"      >
          <span>Disconnect</span>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>