<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search Your announcement"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
 
  <div class="title ion-padding">
    <h2>Categories</h2>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories" (click)="displayAnnounces(category.name)">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>


  <div *ngIf="todaysAnnounces[0]" class="title ion-padding">
    <h2 class="font-bold">Today's announces</h2>
  </div>

  <div *ngIf="todaysAnnounces[0]" class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let todaysAnnounce of todaysAnnounces">
        <ion-col class="ion-text-left" (click)="displayDetail(todaysAnnounce.id)">
          <img src="{{ todaysAnnounce.image }}" />
          <p>{{ todaysAnnounce.first_name }} {{ todaysAnnounce.last_name }}</p>
          <h6>{{ todaysAnnounce.contact_phone }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>


  <div *ngIf="allAnnounces[0]" class="title ion-padding">
    <h2 class="font-bold">All announces</h2>
  </div>

  <div *ngIf="allAnnounces[0]" class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let allAnnounce of allAnnounces">
        <ion-col class="ion-text-left" (click)="displayDetail(allAnnounce.id)">
          <img src="{{ allAnnounce.image }}" />
          <p>{{ allAnnounce.first_name }} {{ allAnnounce.last_name }}</p>
          <h6>{{ allAnnounce.contact_phone }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
