<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf= "client">
  <div *ngIf= "announceDetail">
    <div class="item-img">
      <img [src]="announceDetail.image" alt="Image"/>
    </div>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{announceDetail.first_name }} {{ announceDetail.last_name }} </h1>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>
        Very Good
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Contact Phone</h5>

      {{announceDetail.contact_phone}}

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>address</h5>

      {{announceDetail.address}}

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div *ngIf="announceDetail.notes" class="description">
    <h5>Description</h5>

      {{announceDetail.notes}}

  </div>

  <div *ngIf="announceDetail.notes" class="seperator">
    <hr>
  </div>
  </div>
</div>
  <div *ngIf= "driver" >
  <div *ngIf= "announceDetail">
    <div class="item-img">
      <img [src]="announceDetail.image" alt="Image"/>
    </div>
  
    <div class="ion-padding-vertical">
      <h1 class="item-name">{{announceDetail.first_name}} {{announceDetail.last_name}}</h1>
    </div>
  
    <div class="seperator">
      <hr>
    </div>

    <div class="review">
      <ion-row>
        <ion-col size="6">
          <div class="rating">
            Urgent
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="count">9 Reviews</div>
        </ion-col>
      </ion-row>
    </div>
  
    <div class="seperator">
      <hr>
    </div>
  
    <div class="description">
      <h5>Contact Phone</h5>
      <p>
        {{announceDetail.contact_phone}}
      </p>
    </div>

    <div class="seperator">
      <hr>
    </div>
  
    <div class="description">
      <h5>Starting Address</h5>
      <p>
        {{announceDetail.starting_address}}
      </p>
    </div>

    <div class="seperator">
      <hr>
    </div>
  
    <div class="description">
      <h5>arrival_address</h5>
      <p>
        {{announceDetail.arrival_address}}
      </p>
    </div>

    <div class="seperator">
      <hr>
    </div>
  
    <div *ngIf="announceDetail.notes" class="description">
      <h5>Description</h5>
      <p>
        {{announceDetail.notes}}
      </p>
    </div>

    <div *ngIf="announceDetail.notes" class="seperator">
      <hr>
    </div>
  </div>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div
      class="full-width flex align-items-center justify-content-space-between ion-padding-horizontal"
    >
      <ion-button
        style="width: 120px"
        strong
        class="back-button"
        [routerLink]="['/announces']"
      >
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
